@charset "UTF-8";

/* Versão para Impressoras img#pc */


body{
    background-image: url(../imagens/back-print.jpg);

}


img#phone{ display: none;}
img#tablet{ display: none;}
img#pc{ display: none;}
img#tv{ display: none;}
img#print{ display: block;}