@charset "UTF-8";

header{  
    padding: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

header > h1{
    flex: 0 0 200px;
    padding: 10px;

}

header > nav{
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 10px;
    
    
    
}

header > nav > a{
    flex: none;
    


}

